<div class="navbar  nav-header">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/']">
                <strong class="nav-text ">Weather App Check</strong>
            </a>
        </div>
    </div>
</div> 
<router-outlet></router-outlet>